.App {
  @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700&family=Merriweather:wght@400;700;900&display=swap');
  background-image: url('TugasPotofolio/Images/bg-header.jpg');
  background-size: cover;
  min-height: 100vh;
  /* height: 753px; */
  background-repeat: no-repeat;
  overflow-x: hidden;
}
/* ul{
  list-style-type: none;
}
ul li a{
  text-decoration: none;
  color: rgb(179, 179, 179);
  padding: 10px 40px;
  font-size: 20px;
  font-weight: 400;
}
ul li a:hover{
  cursor: pointer;
  color: white;
  font-weight: 500;
  border-bottom: 2px solid white;
}
nav ul{
  display: inline-flex;
} */
/* .navbarComponent{
  text-align: center;
}
.HeaderMain{
  margin-top: 180px;
  text-align: center;
}
.HeaderMain h4{
  font-size: 28px;
  font-weight: 500;
  color: white;
  font-family: 'Merriweather';
}
.HeaderMain h3{
  font-size: 40px;
  margin-top: -20px;
  font-weight: 700;
  color: white;
  font-family: 'Merriweather';
}
.buttonHire{
  margin-top: 125px;
}

.about{
  margin-top: 350px;
}
.about h3{
  text-align: center;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 40px;
} */

/* TUgas Form Validation */
h4{
  text-align: center;
  color: white;
  font-size: 40px !important;
  margin-bottom: 20px !important;
}
div{
  justify-content: center;
}
Form{
  margin-top: 50px;
}
Label{
  color: white;
}